*,
::before,
::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
} /*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/ /*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: "";
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/
dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */
[hidden] {
  display: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 900;
  font-style: italic;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
.visible {
  visibility: visible;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.sticky {
  position: sticky;
}
.-top-0 {
  top: -0px;
}
.-top-0\.5 {
  top: -0.125rem;
}
.-top-1 {
  top: -0.25rem;
}
.-top-1\.5 {
  top: -0.375rem;
}
.-top-1\/2 {
  top: -50%;
}
.-top-1\/3 {
  top: -33.333333%;
}
.-top-1\/4 {
  top: -25%;
}
.-top-10 {
  top: -2.5rem;
}
.-top-11 {
  top: -2.75rem;
}
.-top-12 {
  top: -3rem;
}
.-top-14 {
  top: -3.5rem;
}
.-top-16 {
  top: -4rem;
}
.-top-2 {
  top: -0.5rem;
}
.-top-2\.5 {
  top: -0.625rem;
}
.-top-2\/3 {
  top: -66.666667%;
}
.-top-2\/4 {
  top: -50%;
}
.-top-20 {
  top: -5rem;
}
.-top-24 {
  top: -6rem;
}
.-top-28 {
  top: -7rem;
}
.-top-3 {
  top: -0.75rem;
}
.-top-3\.5 {
  top: -0.875rem;
}
.-top-3\/4 {
  top: -75%;
}
.-top-32 {
  top: -8rem;
}
.-top-36 {
  top: -9rem;
}
.-top-4 {
  top: -1rem;
}
.-top-40 {
  top: -10rem;
}
.-top-44 {
  top: -11rem;
}
.-top-48 {
  top: -12rem;
}
.-top-5 {
  top: -1.25rem;
}
.-top-52 {
  top: -13rem;
}
.-top-56 {
  top: -14rem;
}
.-top-6 {
  top: -1.5rem;
}
.-top-60 {
  top: -15rem;
}
.-top-64 {
  top: -16rem;
}
.-top-7 {
  top: -1.75rem;
}
.-top-72 {
  top: -18rem;
}
.-top-8 {
  top: -2rem;
}
.-top-80 {
  top: -20rem;
}
.-top-9 {
  top: -2.25rem;
}
.-top-96 {
  top: -24rem;
}
.top-0 {
  top: 0px;
}
.top-0\.5 {
  top: 0.125rem;
}
.top-1 {
  top: 0.25rem;
}
.top-1\.5 {
  top: 0.375rem;
}
.top-1\/2 {
  top: 50%;
}
.top-1\/3 {
  top: 33.333333%;
}
.top-1\/4 {
  top: 25%;
}
.top-10 {
  top: 2.5rem;
}
.top-11 {
  top: 2.75rem;
}
.top-12 {
  top: 3rem;
}
.top-14 {
  top: 3.5rem;
}
.top-16 {
  top: 4rem;
}
.top-2 {
  top: 0.5rem;
}
.top-2\.5 {
  top: 0.625rem;
}
.top-2\/3 {
  top: 66.666667%;
}
.top-2\/4 {
  top: 50%;
}
.top-20 {
  top: 5rem;
}
.top-24 {
  top: 6rem;
}
.top-28 {
  top: 7rem;
}
.top-3 {
  top: 0.75rem;
}
.top-3\.5 {
  top: 0.875rem;
}
.top-3\/4 {
  top: 75%;
}
.top-32 {
  top: 8rem;
}
.top-36 {
  top: 9rem;
}
.top-4 {
  top: 1rem;
}
.top-40 {
  top: 10rem;
}
.top-44 {
  top: 11rem;
}
.top-48 {
  top: 12rem;
}
.top-5 {
  top: 1.25rem;
}
.top-52 {
  top: 13rem;
}
.top-56 {
  top: 14rem;
}
.top-6 {
  top: 1.5rem;
}
.top-60 {
  top: 15rem;
}
.top-64 {
  top: 16rem;
}
.top-7 {
  top: 1.75rem;
}
.top-72 {
  top: 18rem;
}
.top-8 {
  top: 2rem;
}
.top-80 {
  top: 20rem;
}
.top-9 {
  top: 2.25rem;
}
.top-96 {
  top: 24rem;
}
.isolate {
  isolation: isolate;
}
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
.line-clamp-6 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.flex {
  display: flex;
}
.justify-end {
  justify-content: flex-end;
}
.table {
  display: table;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.flex-1 {
  flex: 1 1 0%;
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.resize {
  resize: both;
}
.scroll-p-0 {
  scroll-padding: 0px;
}
.scroll-p-0\.5 {
  scroll-padding: 0.125rem;
}
.scroll-p-1 {
  scroll-padding: 0.25rem;
}
.scroll-p-1\.5 {
  scroll-padding: 0.375rem;
}
.scroll-p-10 {
  scroll-padding: 2.5rem;
}
.scroll-p-11 {
  scroll-padding: 2.75rem;
}
.scroll-p-12 {
  scroll-padding: 3rem;
}
.scroll-p-14 {
  scroll-padding: 3.5rem;
}
.scroll-p-16 {
  scroll-padding: 4rem;
}
.scroll-p-2 {
  scroll-padding: 0.5rem;
}
.scroll-p-2\.5 {
  scroll-padding: 0.625rem;
}
.scroll-p-20 {
  scroll-padding: 5rem;
}
.scroll-p-24 {
  scroll-padding: 6rem;
}
.scroll-p-28 {
  scroll-padding: 7rem;
}
.scroll-p-3 {
  scroll-padding: 0.75rem;
}
.scroll-p-3\.5 {
  scroll-padding: 0.875rem;
}
.scroll-p-32 {
  scroll-padding: 8rem;
}
.scroll-p-36 {
  scroll-padding: 9rem;
}
.scroll-p-4 {
  scroll-padding: 1rem;
}
.scroll-p-40 {
  scroll-padding: 10rem;
}
.scroll-p-44 {
  scroll-padding: 11rem;
}
.scroll-p-48 {
  scroll-padding: 12rem;
}
.scroll-p-5 {
  scroll-padding: 1.25rem;
}
.scroll-p-52 {
  scroll-padding: 13rem;
}
.scroll-p-56 {
  scroll-padding: 14rem;
}
.scroll-p-6 {
  scroll-padding: 1.5rem;
}
.scroll-p-60 {
  scroll-padding: 15rem;
}
.scroll-p-64 {
  scroll-padding: 16rem;
}
.scroll-p-7 {
  scroll-padding: 1.75rem;
}
.scroll-p-72 {
  scroll-padding: 18rem;
}
.scroll-p-8 {
  scroll-padding: 2rem;
}
.scroll-p-80 {
  scroll-padding: 20rem;
}
.scroll-p-9 {
  scroll-padding: 2.25rem;
}
.scroll-p-96 {
  scroll-padding: 24rem;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.gap-0 {
  gap: 0px;
}
.gap-0\.5 {
  gap: 0.125rem;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-1\.5 {
  gap: 0.375rem;
}
.gap-10 {
  gap: 2.5rem;
}
.gap-11 {
  gap: 2.75rem;
}
.gap-12 {
  gap: 3rem;
}
.gap-14 {
  gap: 3.5rem;
}
.gap-16 {
  gap: 4rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-2\.5 {
  gap: 0.625rem;
}
.gap-20 {
  gap: 5rem;
}
.gap-24 {
  gap: 6rem;
}
.gap-28 {
  gap: 7rem;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-3\.5 {
  gap: 0.875rem;
}
.gap-32 {
  gap: 8rem;
}
.gap-36 {
  gap: 9rem;
}
.gap-4 {
  gap: 1rem;
}
.gap-40 {
  gap: 10rem;
}
.gap-44 {
  gap: 11rem;
}
.gap-48 {
  gap: 12rem;
}
.gap-5 {
  gap: 1.25rem;
}
.gap-52 {
  gap: 13rem;
}
.gap-56 {
  gap: 14rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-60 {
  gap: 15rem;
}
.gap-64 {
  gap: 16rem;
}
.gap-7 {
  gap: 1.75rem;
}
.gap-72 {
  gap: 18rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-80 {
  gap: 20rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-96 {
  gap: 24rem;
}
.gap-px {
  gap: 1px;
}
.gap-x-0 {
  -moz-column-gap: 0px;
  column-gap: 0px;
}
.gap-x-0\.5 {
  -moz-column-gap: 0.125rem;
  column-gap: 0.125rem;
}
.gap-x-1 {
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
}
.gap-x-1\.5 {
  -moz-column-gap: 0.375rem;
  column-gap: 0.375rem;
}
.gap-x-10 {
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
}
.gap-x-11 {
  -moz-column-gap: 2.75rem;
  column-gap: 2.75rem;
}
.gap-x-12 {
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
.gap-x-14 {
  -moz-column-gap: 3.5rem;
  column-gap: 3.5rem;
}
.gap-x-16 {
  -moz-column-gap: 4rem;
  column-gap: 4rem;
}
.gap-x-2 {
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.gap-x-2\.5 {
  -moz-column-gap: 0.625rem;
  column-gap: 0.625rem;
}
.gap-x-20 {
  -moz-column-gap: 5rem;
  column-gap: 5rem;
}
.gap-x-24 {
  -moz-column-gap: 6rem;
  column-gap: 6rem;
}
.gap-x-28 {
  -moz-column-gap: 7rem;
  column-gap: 7rem;
}
.gap-x-3 {
  -moz-column-gap: 0.75rem;
  column-gap: 0.75rem;
}
.gap-x-3\.5 {
  -moz-column-gap: 0.875rem;
  column-gap: 0.875rem;
}
.gap-x-32 {
  -moz-column-gap: 8rem;
  column-gap: 8rem;
}
.gap-x-36 {
  -moz-column-gap: 9rem;
  column-gap: 9rem;
}
.gap-x-4 {
  -moz-column-gap: 1rem;
  column-gap: 1rem;
}
.gap-x-40 {
  -moz-column-gap: 10rem;
  column-gap: 10rem;
}
.gap-x-44 {
  -moz-column-gap: 11rem;
  column-gap: 11rem;
}
.gap-x-48 {
  -moz-column-gap: 12rem;
  column-gap: 12rem;
}
.gap-x-5 {
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
}
.gap-x-52 {
  -moz-column-gap: 13rem;
  column-gap: 13rem;
}
.gap-x-56 {
  -moz-column-gap: 14rem;
  column-gap: 14rem;
}
.gap-x-6 {
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
.gap-x-60 {
  -moz-column-gap: 15rem;
  column-gap: 15rem;
}
.gap-x-64 {
  -moz-column-gap: 16rem;
  column-gap: 16rem;
}
.gap-x-7 {
  -moz-column-gap: 1.75rem;
  column-gap: 1.75rem;
}
.gap-x-72 {
  -moz-column-gap: 18rem;
  column-gap: 18rem;
}
.gap-x-8 {
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.gap-x-80 {
  -moz-column-gap: 20rem;
  column-gap: 20rem;
}
.gap-x-9 {
  -moz-column-gap: 2.25rem;
  column-gap: 2.25rem;
}
.gap-x-96 {
  -moz-column-gap: 24rem;
  column-gap: 24rem;
}
.gap-x-px {
  -moz-column-gap: 1px;
  column-gap: 1px;
}
.gap-y-0 {
  row-gap: 0px;
}
.gap-y-0\.5 {
  row-gap: 0.125rem;
}
.gap-y-1 {
  row-gap: 0.25rem;
}
.gap-y-1\.5 {
  row-gap: 0.375rem;
}
.gap-y-10 {
  row-gap: 2.5rem;
}
.gap-y-11 {
  row-gap: 2.75rem;
}
.gap-y-12 {
  row-gap: 3rem;
}
.gap-y-14 {
  row-gap: 3.5rem;
}
.gap-y-16 {
  row-gap: 4rem;
}
.gap-y-2 {
  row-gap: 0.5rem;
}
.gap-y-2\.5 {
  row-gap: 0.625rem;
}
.gap-y-20 {
  row-gap: 5rem;
}
.gap-y-24 {
  row-gap: 6rem;
}
.gap-y-28 {
  row-gap: 7rem;
}
.gap-y-3 {
  row-gap: 0.75rem;
}
.gap-y-3\.5 {
  row-gap: 0.875rem;
}
.gap-y-32 {
  row-gap: 8rem;
}
.gap-y-36 {
  row-gap: 9rem;
}
.gap-y-4 {
  row-gap: 1rem;
}
.gap-y-40 {
  row-gap: 10rem;
}
.gap-y-44 {
  row-gap: 11rem;
}
.gap-y-48 {
  row-gap: 12rem;
}
.gap-y-5 {
  row-gap: 1.25rem;
}
.gap-y-52 {
  row-gap: 13rem;
}
.gap-y-56 {
  row-gap: 14rem;
}
.gap-y-6 {
  row-gap: 1.5rem;
}
.gap-y-60 {
  row-gap: 15rem;
}
.gap-y-64 {
  row-gap: 16rem;
}
.gap-y-7 {
  row-gap: 1.75rem;
}
.gap-y-72 {
  row-gap: 18rem;
}
.gap-y-8 {
  row-gap: 2rem;
}
.gap-y-80 {
  row-gap: 20rem;
}
.gap-y-9 {
  row-gap: 2.25rem;
}
.gap-y-96 {
  row-gap: 24rem;
}
.gap-y-px {
  row-gap: 1px;
}
.divide-opacity-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0;
}
.divide-opacity-10 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.1;
}
.divide-opacity-100 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
}
.divide-opacity-15 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.15;
}
.divide-opacity-20 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.2;
}
.divide-opacity-25 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.25;
}
.divide-opacity-30 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.3;
}
.divide-opacity-35 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.35;
}
.divide-opacity-40 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.4;
}
.divide-opacity-45 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.45;
}
.divide-opacity-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.05;
}
.divide-opacity-50 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.5;
}
.divide-opacity-55 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.55;
}
.divide-opacity-60 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.6;
}
.divide-opacity-65 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.65;
}
.divide-opacity-70 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.7;
}
.divide-opacity-75 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.75;
}
.divide-opacity-80 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.8;
}
.divide-opacity-85 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.85;
}
.divide-opacity-90 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.9;
}
.divide-opacity-95 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.95;
}
.overflow-visible {
  overflow: visible;
}
.border {
  border-width: 1px;
}
.border-opacity-0 {
  --tw-border-opacity: 0;
}
.border-opacity-10 {
  --tw-border-opacity: 0.1;
}
.border-opacity-100 {
  --tw-border-opacity: 1;
}
.border-opacity-15 {
  --tw-border-opacity: 0.15;
}
.border-opacity-20 {
  --tw-border-opacity: 0.2;
}
.border-opacity-25 {
  --tw-border-opacity: 0.25;
}
.border-opacity-30 {
  --tw-border-opacity: 0.3;
}
.border-opacity-35 {
  --tw-border-opacity: 0.35;
}
.border-opacity-40 {
  --tw-border-opacity: 0.4;
}
.border-opacity-45 {
  --tw-border-opacity: 0.45;
}
.border-opacity-5 {
  --tw-border-opacity: 0.05;
}
.border-opacity-50 {
  --tw-border-opacity: 0.5;
}
.border-opacity-55 {
  --tw-border-opacity: 0.55;
}
.border-opacity-60 {
  --tw-border-opacity: 0.6;
}
.border-opacity-65 {
  --tw-border-opacity: 0.65;
}
.border-opacity-70 {
  --tw-border-opacity: 0.7;
}
.border-opacity-75 {
  --tw-border-opacity: 0.75;
}
.border-opacity-80 {
  --tw-border-opacity: 0.8;
}
.border-opacity-85 {
  --tw-border-opacity: 0.85;
}
.border-opacity-90 {
  --tw-border-opacity: 0.9;
}
.border-opacity-95 {
  --tw-border-opacity: 0.95;
}
.bg-opacity-0 {
  --tw-bg-opacity: 0;
}
.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}
.bg-opacity-100 {
  --tw-bg-opacity: 1;
}
.bg-opacity-15 {
  --tw-bg-opacity: 0.15;
}
.bg-opacity-20 {
  --tw-bg-opacity: 0.2;
}
.bg-opacity-25 {
  --tw-bg-opacity: 0.25;
}
.bg-opacity-30 {
  --tw-bg-opacity: 0.3;
}
.bg-opacity-35 {
  --tw-bg-opacity: 0.35;
}
.bg-opacity-40 {
  --tw-bg-opacity: 0.4;
}
.bg-opacity-45 {
  --tw-bg-opacity: 0.45;
}
.bg-opacity-5 {
  --tw-bg-opacity: 0.05;
}
.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}
.bg-opacity-55 {
  --tw-bg-opacity: 0.55;
}
.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}
.bg-opacity-65 {
  --tw-bg-opacity: 0.65;
}
.bg-opacity-70 {
  --tw-bg-opacity: 0.7;
}
.bg-opacity-75 {
  --tw-bg-opacity: 0.75;
}
.bg-opacity-80 {
  --tw-bg-opacity: 0.8;
}
.bg-opacity-85 {
  --tw-bg-opacity: 0.85;
}
.bg-opacity-90 {
  --tw-bg-opacity: 0.9;
}
.bg-opacity-95 {
  --tw-bg-opacity: 0.95;
}
.p-0 {
  padding: 0px;
}
.p-0\.5 {
  padding: 0.125rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-1\.5 {
  padding: 0.375rem;
}
.p-10 {
  padding: 2.5rem;
}
.p-11 {
  padding: 2.75rem;
}
.p-12 {
  padding: 3rem;
}
.p-14 {
  padding: 3.5rem;
}
.p-16 {
  padding: 4rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-2\.5 {
  padding: 0.625rem;
}
.p-20 {
  padding: 5rem;
}
.p-24 {
  padding: 6rem;
}
.p-28 {
  padding: 7rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-3\.5 {
  padding: 0.875rem;
}
.p-32 {
  padding: 8rem;
}
.p-36 {
  padding: 9rem;
}
.p-4 {
  padding: 1rem;
}
.p-40 {
  padding: 10rem;
}
.p-44 {
  padding: 11rem;
}
.p-48 {
  padding: 12rem;
}
.p-5 {
  padding: 1.25rem;
}
.p-52 {
  padding: 13rem;
}
.p-56 {
  padding: 14rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-60 {
  padding: 15rem;
}
.p-64 {
  padding: 16rem;
}
.p-7 {
  padding: 1.75rem;
}
.p-72 {
  padding: 18rem;
}
.p-8 {
  padding: 2rem;
}
.p-80 {
  padding: 20rem;
}
.p-9 {
  padding: 2.25rem;
}
.p-96 {
  padding: 24rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-display {
  font-family: "neue-haas-grotesk-display", "Helvetica", "Arial", sans-serif;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.font-bold {
  font-weight: 900;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.italic {
  font-style: italic;
}
.text-opacity-0 {
  --tw-text-opacity: 0;
}
.text-opacity-10 {
  --tw-text-opacity: 0.1;
}
.text-opacity-100 {
  --tw-text-opacity: 1;
}
.text-opacity-15 {
  --tw-text-opacity: 0.15;
}
.text-opacity-20 {
  --tw-text-opacity: 0.2;
}
.text-opacity-25 {
  --tw-text-opacity: 0.25;
}
.text-opacity-30 {
  --tw-text-opacity: 0.3;
}
.text-opacity-35 {
  --tw-text-opacity: 0.35;
}
.text-opacity-40 {
  --tw-text-opacity: 0.4;
}
.text-opacity-45 {
  --tw-text-opacity: 0.45;
}
.text-opacity-5 {
  --tw-text-opacity: 0.05;
}
.text-opacity-50 {
  --tw-text-opacity: 0.5;
}
.text-opacity-55 {
  --tw-text-opacity: 0.55;
}
.text-opacity-60 {
  --tw-text-opacity: 0.6;
}
.text-opacity-65 {
  --tw-text-opacity: 0.65;
}
.text-opacity-70 {
  --tw-text-opacity: 0.7;
}
.text-opacity-75 {
  --tw-text-opacity: 0.75;
}
.text-opacity-80 {
  --tw-text-opacity: 0.8;
}
.text-opacity-85 {
  --tw-text-opacity: 0.85;
}
.text-opacity-90 {
  --tw-text-opacity: 0.9;
}
.text-opacity-95 {
  --tw-text-opacity: 0.95;
}
.line-through {
  text-decoration-line: line-through;
}
.placeholder-opacity-0::-moz-placeholder {
  --tw-placeholder-opacity: 0;
}
.placeholder-opacity-0::placeholder {
  --tw-placeholder-opacity: 0;
}
.placeholder-opacity-10::-moz-placeholder {
  --tw-placeholder-opacity: 0.1;
}
.placeholder-opacity-10::placeholder {
  --tw-placeholder-opacity: 0.1;
}
.placeholder-opacity-100::-moz-placeholder {
  --tw-placeholder-opacity: 1;
}
.placeholder-opacity-100::placeholder {
  --tw-placeholder-opacity: 1;
}
.placeholder-opacity-15::-moz-placeholder {
  --tw-placeholder-opacity: 0.15;
}
.placeholder-opacity-15::placeholder {
  --tw-placeholder-opacity: 0.15;
}
.placeholder-opacity-20::-moz-placeholder {
  --tw-placeholder-opacity: 0.2;
}
.placeholder-opacity-20::placeholder {
  --tw-placeholder-opacity: 0.2;
}
.placeholder-opacity-25::-moz-placeholder {
  --tw-placeholder-opacity: 0.25;
}
.placeholder-opacity-25::placeholder {
  --tw-placeholder-opacity: 0.25;
}
.placeholder-opacity-30::-moz-placeholder {
  --tw-placeholder-opacity: 0.3;
}
.placeholder-opacity-30::placeholder {
  --tw-placeholder-opacity: 0.3;
}
.placeholder-opacity-35::-moz-placeholder {
  --tw-placeholder-opacity: 0.35;
}
.placeholder-opacity-35::placeholder {
  --tw-placeholder-opacity: 0.35;
}
.placeholder-opacity-40::-moz-placeholder {
  --tw-placeholder-opacity: 0.4;
}
.placeholder-opacity-40::placeholder {
  --tw-placeholder-opacity: 0.4;
}
.placeholder-opacity-45::-moz-placeholder {
  --tw-placeholder-opacity: 0.45;
}
.placeholder-opacity-45::placeholder {
  --tw-placeholder-opacity: 0.45;
}
.placeholder-opacity-5::-moz-placeholder {
  --tw-placeholder-opacity: 0.05;
}
.placeholder-opacity-5::placeholder {
  --tw-placeholder-opacity: 0.05;
}
.placeholder-opacity-50::-moz-placeholder {
  --tw-placeholder-opacity: 0.5;
}
.placeholder-opacity-50::placeholder {
  --tw-placeholder-opacity: 0.5;
}
.placeholder-opacity-55::-moz-placeholder {
  --tw-placeholder-opacity: 0.55;
}
.placeholder-opacity-55::placeholder {
  --tw-placeholder-opacity: 0.55;
}
.placeholder-opacity-60::-moz-placeholder {
  --tw-placeholder-opacity: 0.6;
}
.placeholder-opacity-60::placeholder {
  --tw-placeholder-opacity: 0.6;
}
.placeholder-opacity-65::-moz-placeholder {
  --tw-placeholder-opacity: 0.65;
}
.placeholder-opacity-65::placeholder {
  --tw-placeholder-opacity: 0.65;
}
.placeholder-opacity-70::-moz-placeholder {
  --tw-placeholder-opacity: 0.7;
}
.placeholder-opacity-70::placeholder {
  --tw-placeholder-opacity: 0.7;
}
.placeholder-opacity-75::-moz-placeholder {
  --tw-placeholder-opacity: 0.75;
}
.placeholder-opacity-75::placeholder {
  --tw-placeholder-opacity: 0.75;
}
.placeholder-opacity-80::-moz-placeholder {
  --tw-placeholder-opacity: 0.8;
}
.placeholder-opacity-80::placeholder {
  --tw-placeholder-opacity: 0.8;
}
.placeholder-opacity-85::-moz-placeholder {
  --tw-placeholder-opacity: 0.85;
}
.placeholder-opacity-85::placeholder {
  --tw-placeholder-opacity: 0.85;
}
.placeholder-opacity-90::-moz-placeholder {
  --tw-placeholder-opacity: 0.9;
}
.placeholder-opacity-90::placeholder {
  --tw-placeholder-opacity: 0.9;
}
.placeholder-opacity-95::-moz-placeholder {
  --tw-placeholder-opacity: 0.95;
}
.placeholder-opacity-95::placeholder {
  --tw-placeholder-opacity: 0.95;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.outline {
  outline-style: solid;
}
.ring-opacity-0 {
  --tw-ring-opacity: 0;
}
.ring-opacity-10 {
  --tw-ring-opacity: 0.1;
}
.ring-opacity-100 {
  --tw-ring-opacity: 1;
}
.ring-opacity-15 {
  --tw-ring-opacity: 0.15;
}
.ring-opacity-20 {
  --tw-ring-opacity: 0.2;
}
.ring-opacity-25 {
  --tw-ring-opacity: 0.25;
}
.ring-opacity-30 {
  --tw-ring-opacity: 0.3;
}
.ring-opacity-35 {
  --tw-ring-opacity: 0.35;
}
.ring-opacity-40 {
  --tw-ring-opacity: 0.4;
}
.ring-opacity-45 {
  --tw-ring-opacity: 0.45;
}
.ring-opacity-5 {
  --tw-ring-opacity: 0.05;
}
.ring-opacity-50 {
  --tw-ring-opacity: 0.5;
}
.ring-opacity-55 {
  --tw-ring-opacity: 0.55;
}
.ring-opacity-60 {
  --tw-ring-opacity: 0.6;
}
.ring-opacity-65 {
  --tw-ring-opacity: 0.65;
}
.ring-opacity-70 {
  --tw-ring-opacity: 0.7;
}
.ring-opacity-75 {
  --tw-ring-opacity: 0.75;
}
.ring-opacity-80 {
  --tw-ring-opacity: 0.8;
}
.ring-opacity-85 {
  --tw-ring-opacity: 0.85;
}
.ring-opacity-90 {
  --tw-ring-opacity: 0.9;
}
.ring-opacity-95 {
  --tw-ring-opacity: 0.95;
}
.invert {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
    var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
    var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-opacity-0 {
  --tw-backdrop-opacity: opacity(0);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-10 {
  --tw-backdrop-opacity: opacity(0.1);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-100 {
  --tw-backdrop-opacity: opacity(1);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-15 {
  --tw-backdrop-opacity: opacity(0.15);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-20 {
  --tw-backdrop-opacity: opacity(0.2);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-25 {
  --tw-backdrop-opacity: opacity(0.25);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-30 {
  --tw-backdrop-opacity: opacity(0.3);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-35 {
  --tw-backdrop-opacity: opacity(0.35);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-40 {
  --tw-backdrop-opacity: opacity(0.4);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-45 {
  --tw-backdrop-opacity: opacity(0.45);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-5 {
  --tw-backdrop-opacity: opacity(0.05);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-50 {
  --tw-backdrop-opacity: opacity(0.5);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-55 {
  --tw-backdrop-opacity: opacity(0.55);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-60 {
  --tw-backdrop-opacity: opacity(0.6);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-65 {
  --tw-backdrop-opacity: opacity(0.65);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-70 {
  --tw-backdrop-opacity: opacity(0.7);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-75 {
  --tw-backdrop-opacity: opacity(0.75);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-80 {
  --tw-backdrop-opacity: opacity(0.8);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-85 {
  --tw-backdrop-opacity: opacity(0.85);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-90 {
  --tw-backdrop-opacity: opacity(0.9);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.backdrop-opacity-95 {
  --tw-backdrop-opacity: opacity(0.95);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}
.transition {
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
}
